/* Styling The App
To style your application you need to add some CSS to the index.css file. 
Feel free to copy and paste the styles below to get you started: */

body {
    background-color: #f3f2f3;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

#messages{
    padding-bottom: 30%;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #6929ca;
    padding: 5px;
    border-radius: 10px;
    color: white;
    width: 50%;
}

li span {
    font-style: italic;
    font-weight: bolder;
    color: #b5b0b9;
}

#chat {
    width: 80%;
    margin: auto;
}

#message-form {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b7b5b9;
}

input {
    width: 70%;
    height: 30px;
}

button {
    width: 25%;
    height: 38px;
}

.sent {
    text-align: right;
    background-color: #a79cb3;
    margin-left: 50%;
}

.sent span {
    margin-left: 5px;
    color: #6929ca;
}

button {
    width: 25%;
    height: 38px;
}

.media {
    text-align: right;
    background-color: #a79cb3;
    margin-left: 50%;
}

.media span {
    margin-left: 5px;
    color: #6929ca;
}

.media-list {
    list-style-type: none;
    padding: 0;
  }
  
  .media-list li {
    margin-bottom: 10px;
  }
  
  .media-list img,
  .media-list video {
    max-width: 100%;
    height: auto;
  }
  
  .sent {
    text-align: right;
  }
  
  .receive {
    text-align: left;
  }

  .progress-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 2px;
  }
  
  .progress-bar {
    height: 10px;
    background-color: #4caf50;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 12px;
  }
  
/* Conclusion
You have now built a simple realtime chat application using the Firebase SDK and Realtime Database as a datastore.

If you're looking for a robust application that's 
built to scale, consider CometChat. You can create an account for free, and 
start building right away. Develop for as long as you need, and don't pay a thing until you're ready to scale. */